.titleBox{
    margin-bottom: 6.4rem;
}
.title{
   font-size: 4rem;
    line-height: 1;
    letter-spacing:var(--letter-spacing);
    text-align: center;
    color: var(--clr-grey-1);
    margin:0 0 1.2rem 0;
}
.underline{
    width: 8rem;
    height: 0.4rem;
    background-color: var(--clr-primary-2);
    margin: 0 auto 20px;
}